.box {
	border: 1px solid;
	min-height: 200px;
}

.green {
	border-color: green;
	outline-color: green;
	outline-width: thick;
	outline-style: dashed;
}

#JoinGame {
	margin-bottom: 30px;
}

.jumbotron {
	margin-bottom: 5px;
	margin-top: 30px;
	max-height: 200px;
	overflow-y: scroll;
}

.jumbotron p {
	font-size: 16px;
}

.submit {
	cursor: pointer;
}